// out: styles.css, sourcemap: true, compress: false

// Monochrome
@white: #fff;
@dark-grey: #333;
@grey: #888;
@grey-accent: #6d6d6d;
@black: #000;

// Colors
@red: #d2232a;
@red-accent: #b71f24;
@green: #A8C437;
@green-accent: #92AB30;
@blue: #43B0E6;
@blue-accent: #3A99C9;
@dark-blue: #124259;
@dark-blue-accent: #175573;

@font-color: #333;

@default-radius: 2em;

// Fonts
@font-special: 'Josefin Sans', Arial, sans-serif;
@font-body: 'Roboto', Arial, sans-serif;

// 1 Global/Phone styles
  // 1.1 Components
  // 1.2 Typography
  // 1.3 Page
  // 1.4 Header
  // 1.5 Footer
  // 1.6 Gallery
  // 1.7 Misc
// 2 Tablet styles
  // 2.1 Components
  // 2.2 Typography
  // 2.3 Page
  // 2.4 Header
  // 2.5 Footer
  // 2.6 Gallery
  // 2.7 Misc

// 1 Global/Phone styles
@media screen {
  // 1.1 Components
  .btn {
    background: @red;
    border-radius: @default-radius;
    color: @white;
    padding: 1em;
    text-align: center;
    text-decoration: none;
  }

  .btn:hover {
    background: @red-accent;
  }

  .btn:visited {
    color: @white;
  }

  .btn.btn-light {
    background: none;
    color: @red;
  }

  .btn.btn-light:hover {
    background: @red;
    color: @white;
  }

  .btn.btn-important {
    background-color: @green;
  }

  .btn.btn-important:hover {
    background-color: @green-accent;
  }

  .btn.btn-neutral {
    background-color: @grey;
  }
  .btn.btn-neutral:hover {
    background-color: @grey-accent;
  }

  .btn.btn-extra {
    background-color: @blue;
  }
  .btn.btn-extra:hover {
    background-color: @blue-accent;
  }

  .btn.btn-dark {
    background-color: @dark-blue;
  }
  .btn.btn-dark:hover {
    background-color: @dark-blue-accent;
  }

  .btn-group .btn:first-of-type {
    // Top Left, Top Right, Bottom Right, Bottom Left
    border-radius: @default-radius 0 0 @default-radius;
  }

  .btn-group .btn:not(:first-child):not(:last-child) {
    border-radius: 0;
  }

  .btn-group .btn:last-of-type {
    // Top Left, Top Right, Bottom Right, Bottom Left
    border-radius: 0 @default-radius @default-radius 0;
  }

  .select-styled {
    position: relative;
  }

  .select-styled:before {
    content: '\f107';
    font-family: "Font Awesome 5 Free";
    color: @font-color;
    display: inline-block;
    position: absolute;
    right: 10%;
    top: 0.5em; // Half of 1.2 global line height
    pointer-events: none;
  }

  select {
    border-radius: @default-radius;
    border: none;
    padding: 0.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;
    text-align: center;
    width: 100%;
    cursor: pointer;
  }

  // 1.2 Typography
  a {
    color: @green;
    font-weight: bold;

  }

  a:visited {
    color: @dark-blue;
  }

  .bold {
    font-weight: bold;
  }

  .copyright {
    //align-self: flex-end;
    font-size: 0.75em;
  }

  h1, h2, h3, h4, h5, h6, .btn, nav a {
    font-family: @font-special;
    font-variant-caps: small-caps;
  }

  h1 {
    color: @red;
    font-size: 2em;
    line-height: 1em;
    margin: 0.5em 0;
  }

  h3 {
    font-size: 1.5em;
    line-height: 0.75em;
    margin: 0.5em 0;
  }

  .paragraph {
    margin-bottom: 1em;
  }

  .fa-cog {
    color: @blue;
  }

  // 1.3 Page
  html, body {
    min-height: 100vh;
  }

  body {
    font-family: @font-body;
    line-height: 1.2em;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "header"
    "content"
    "footer";
  }

  .page {
    grid-area: content;
    padding: 4em 0.75em;
  }

  // 1.4 Header
  .header-container {
    grid-area: header;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }

  header {
    display: flex;
    flex-wrap: wrap;
    line-height: 1em;
    padding: 0 0.75em;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    margin: auto;
  }

  .logo img {
    height: 5em;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  nav, nav a {
    width: 100%;
  }

  nav a {
    background: @red;
    border-radius: @default-radius;
    color: @white;
    text-align: center;
    text-decoration: none;
    padding: 1em 0;
    margin: 0.4em 0;
  }

  nav a:first-of-type {
    margin-top: 0;
  }

  nav a:last-of-type {
    margin-bottom: 0.8em;
  }

  nav a:hover {
    background: @red-accent;
  }

  nav a:visited {
    color: @white;
  }

  // 1.5 Footer
  .footer-container {
    background: @red;
    color: @white;
    grid-area: footer;
  }

  footer {
    padding: 2em 0.75em;
  }

  footer h4 {
    font-size: 1.4em;
    margin-bottom: 0.5em;
  }

  .footer-group {
    margin-bottom: 2em;
  }

  address {
    margin-bottom: 2em;
  }

  footer a, footer a:visited {
    color: @white;
    text-decoration: underline;
  }

  // 1.6 Gallery
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.25em 0.25em;
  }

  .gallery figure {
    position: relative;
    height: 250px;
    margin: 0.25em;
    width: 250px;
  }

  .gallery figure img {
    border-radius: @default-radius;
  }

  .gallery .image-overlay {
    color: @white;
    position: absolute;
    left: 1em;
    right: 1em;
    text-decoration: underline solid @red;
    top: 1em;
    visibility: hidden;
  }

  .gallery figure:hover .image-overlay {
    visibility: visible;
  }

  .gallery-file img {
    border-radius: @default-radius;
    width: 100%;
  }
  .gallery-file-content {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "details"
    "description"
    "comments";
  }

  .gallery-file-details {
    grid-area: details;
  }

  .gallery-file-details-holder {
    background: #eee;
    border-radius: @default-radius;
    padding: 1em;
  }
  .gallery-file-description {
    grid-area: description;
    padding: 1em 0;
  }

  .disqus {
    grid-area: comments;
  }

  // 1.7 Misc
  .center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  // Temp for under construction
  .construction {
    font-size: 2em;
  }
}

// 2 Tablet styles
@media screen and (min-width: 768px) {
  // 2.1 Components
  // 2.2 Typography
  // 2.3 Page
  body {
    grid-template-rows: 5em 1fr auto;
  }

  // 2.4 Header
  .header-container {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }

  .logo {
    margin: 0;
  }

  nav {
    flex-direction: row;
  }

  nav, nav a {
    width: auto;
  }

  nav a, nav a:first-of-type {
    margin: 1em;
    padding: 1em;
  }

  nav a:last-of-type {
    margin-bottom: 1em; // Reset from phones extra 0.4em;
    margin-right: 0; // Becuase of horizontal colum
  }

  // 2.5 Footer
  .footer-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  address {
    margin-bottom: 0;
  }

  // 2.6 Gallery
  // 2.7 Misc
}

// 3 Desktop styles
@media screen and (min-width: 1000px) {
  header, .page, footer {
    margin: auto;
    width: 960px;
  }
}
