@media screen {
  .btn {
    background: #d2232a;
    border-radius: 2em;
    color: #fff;
    padding: 1em;
    text-align: center;
    text-decoration: none;
  }
  .btn:hover {
    background: #b71f24;
  }
  .btn:visited {
    color: #fff;
  }
  .btn.btn-light {
    background: none;
    color: #d2232a;
  }
  .btn.btn-light:hover {
    background: #d2232a;
    color: #fff;
  }
  .btn.btn-important {
    background-color: #A8C437;
  }
  .btn.btn-important:hover {
    background-color: #92AB30;
  }
  .btn.btn-neutral {
    background-color: #888;
  }
  .btn.btn-neutral:hover {
    background-color: #6d6d6d;
  }
  .btn.btn-extra {
    background-color: #43B0E6;
  }
  .btn.btn-extra:hover {
    background-color: #3A99C9;
  }
  .btn.btn-dark {
    background-color: #124259;
  }
  .btn.btn-dark:hover {
    background-color: #175573;
  }
  .btn-group .btn:first-of-type {
    border-radius: 2em 0 0 2em;
  }
  .btn-group .btn:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  .btn-group .btn:last-of-type {
    border-radius: 0 2em 2em 0;
  }
  .page-figure-left {
    float: left;
    margin: 0 2em 2em 0;
  }
  .select-styled {
    position: relative;
  }
  .select-styled:before {
    content: '\f107';
    font-family: "Font Awesome 5 Free";
    color: #333;
    display: inline-block;
    position: absolute;
    right: 10%;
    top: 0.5em;
    pointer-events: none;
  }
  select {
    border-radius: 2em;
    border: none;
    padding: 0.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    width: 100%;
    cursor: pointer;
  }
  a {
    color: #A8C437;
    font-weight: bold;
  }
  a:visited {
    color: #124259;
  }
  .bold {
    font-weight: bold;
  }
  .copyright {
    font-size: 0.75em;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .btn,
  nav a {
    font-family: 'Josefin Sans', Arial, sans-serif;
    font-variant-caps: small-caps;
  }
  h1 {
    color: #d2232a;
    font-size: 2em;
    line-height: 1em;
    margin: 0.5em 0;
  }
  h3 {
    font-size: 1.5em;
    line-height: 0.75em;
    margin: 0.5em 0;
  }
  .page p,
  .paragraph {
    margin-bottom: 1em;
  }
  .page p:last-of-type {
    margin-bottom: 0;
  }
  .fa-cog {
    color: #43B0E6;
  }
  html,
  body {
    min-height: 100vh;
  }
  body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.2em;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "content" "footer";
  }
  .page {
    grid-area: content;
    padding: 4em 0.75em;
  }
  .header-container {
    grid-area: header;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }
  header {
    display: flex;
    flex-wrap: wrap;
    line-height: 1em;
    padding: 0 0.75em;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    margin: auto;
  }
  .logo img {
    height: 5em;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  nav,
  nav a {
    width: 100%;
  }
  nav a {
    background: #d2232a;
    border-radius: 2em;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 1em 0;
    margin: 0.4em 0;
  }
  nav a:first-of-type {
    margin-top: 0;
  }
  nav a:last-of-type {
    margin-bottom: 0.8em;
  }
  nav a:hover {
    background: #b71f24;
  }
  nav a:visited {
    color: #fff;
  }
  .footer-container {
    background: #d2232a;
    color: #fff;
    grid-area: footer;
  }
  footer {
    padding: 2em 0.75em;
  }
  footer h4 {
    font-size: 1.4em;
    margin-bottom: 0.5em;
  }
  .footer-group {
    margin-bottom: 2em;
  }
  address {
    margin-bottom: 2em;
  }
  footer a,
  footer a:visited {
    color: #fff;
    text-decoration: underline;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.25em 0.25em;
  }
  .gallery figure {
    position: relative;
    height: 250px;
    margin: 0.25em;
    width: 250px;
  }
  .gallery figure img {
    border-radius: 2em;
  }
  .gallery .image-overlay {
    color: #fff;
    position: absolute;
    left: 1em;
    right: 1em;
    text-decoration: underline solid #d2232a;
    top: 1em;
    visibility: hidden;
  }
  .gallery figure:hover .image-overlay {
    visibility: visible;
  }
  .gallery-file img {
    border-radius: 2em;
    width: 100%;
  }
  .gallery-file-content {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "details" "description" "comments";
  }
  .gallery-file-details {
    grid-area: details;
  }
  .gallery-file-details-holder {
    background: #eee;
    border-radius: 2em;
    padding: 1em;
  }
  .gallery-file-description {
    grid-area: description;
    padding: 1em 0;
  }
  .disqus {
    grid-area: comments;
  }
  .center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .construction {
    font-size: 2em;
  }
}
@media screen and (min-width: 768px) {
  body {
    grid-template-rows: 5em 1fr auto;
  }
  .header-container {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }
  .logo {
    margin: 0;
  }
  nav {
    flex-direction: row;
  }
  nav,
  nav a {
    width: auto;
  }
  nav a,
  nav a:first-of-type {
    margin: 1em;
    padding: 1em;
  }
  nav a:last-of-type {
    margin-bottom: 1em;
    margin-right: 0;
  }
  .footer-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  address {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1000px) {
  header,
  .page,
  footer {
    margin: auto;
    width: 960px;
  }
}
